.container {
	display: grid;
    max-width: 1000px;
	height: 600px;
    border: 0 solid;
    margin-left: 50px;
    margin-top: 50px ;
    background-color: lightblue;
	border-radius: 8px;
 }

.wrapper {
    max-width: 750px;
    margin: 0 auto;
}

.title-card {
	position: relative;
	text-align: center;
	font-size: 14px; 
	text-transform: uppercase;
	text-align: left;
	padding-left: 90px;
    width: 800px;
    height: 60px;
	left: -50px;
    background-color: chocolate;
    margin-top: 40px;
    color: white;
	max-width: 750px;
}

form {
	display: flex;
	padding-left: 40px;
	flex-direction: column;
	align-items: baseline;
}

label {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	
	font-size: 18px;
}

.expiry label {
	display: inline;
	
	margin: 5px;
}

.expiry input {
	width: 70px;
}

input {
	margin: 20px 0;
	padding: 10px;
	
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	font-size: 16px;
	width: 300px;
	max-width: 100%;
	
	outline: none;
}
.izo{
	background-image: url;
	
}